body {
    background: #eee;
    font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
    background-color: #ff6200;
}

.taskComplete {
    color: #fff;
    background-color: green;
}

/* $('#dropdown').css('z-index','999')  */