body {
    background: #eee;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 75px;
}

.jumbotron {
    background-color: #9400D3;
    color: #fff;
}

.taskComplete {
    color: #fff;
    background-color: green;
}

/* .taskComplete:checked {
    color: #fff;
    background-color: green;
} */

/* $('#dropdown').css('z-index','999')  hint from Trevor*/