body {
    background: #edf5e1;
    font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
    background-color: #05386B;
    color: #fff;
}

.taskComplete {
    text-decoration: line-through;
}

.input-group {
    margin-bottom: 25px;
}